/teste/nbproject/private/
/teste/build/
/AulaDia15/nbproject/private/
/AulaDia15/build/
/AulaJavaMaior/nbproject/private/
/AulaJavaMaior/build/
/AulaDia22/nbproject/private/
/AulaDia22/build/
/Jogo21/nbproject/private/
/Jogo21/build/
/testeprova/nbproject/private/
/testeprova/build/
/possivelprova/nbproject/private/
/possivelprova/build/
/Split/nbproject/private/
/Split/build/
/CalcFiguras/nbproject/private/
/CalcFiguras/build/
/projetoescola/nbproject/private/
/projetoescola/build/
/projetoescola/dist/
/projetoreservahoteis/build/
/projetoreservahoteis/dist/
/CadFestas/dist/
/projetofestas/nbproject/private/
/gdrive/dist/
/TesteDeCódigos/nbproject/private/
/TesteDeCódigos/build/
